<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
    <TITLE>Collab Edit</TITLE>
    <SCRIPT TYPE="text/javascript" LANGUAGE="JavaScript" SRC="{{ static_url('jquery-3.2.1.min.js') }}"></SCRIPT>
    <SCRIPT TYPE="text/javascript" LANGUAGE="JavaScript"
            SRC="{{ static_url('diff_match_patch_uncompressed.js') }}"></SCRIPT>
    <script TYPE="text/javascript" LANGUAGE="JavaScript" SRC="{{ static_url('uuid.js') }}"></script>
    <link rel="stylesheet" href="{{ static_url('highlight/default.min.css') }}">
    <script src="{{ static_url('highlight/highlight.min.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{ static_url('div_cursor.js') }}"></script>
</HEAD>

<BODY>

<pre><code class="python">
    <DIV ID="text2" contenteditable="true" STYLE="width: 800px; height: 600px"></DIV>
</code></pre>

<script src="{{ static_url('main.js') }}"></script>

</BODY>
</HTML>
