<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
    <TITLE>Collab Edit</TITLE>
    <SCRIPT TYPE="text/javascript" LANGUAGE="JavaScript" SRC="{{ static_url('jquery-3.2.1.min.js') }}"></SCRIPT>
    <SCRIPT TYPE="text/javascript" LANGUAGE="JavaScript"
            SRC="{{ static_url('diff_match_patch_uncompressed.js') }}"></SCRIPT>
    <script TYPE="text/javascript" LANGUAGE="JavaScript" SRC="{{ static_url('uuid.js') }}"></script>
</HEAD>

<BODY>


<FORM action="#" onsubmit="return false">
    <TEXTAREA ID="text1" STYLE="width: 100%" ROWS=10></TEXTAREA>


    <!--<P><INPUT TYPE="button" onClick="launch()" VALUE="Compute Diff"></P>-->

</FORM>

<DIV ID="outputdiv"></DIV>

<script src="{{ static_url('main.js') }}"></script>

</BODY>
</HTML>
